.container {
    position: absolute;
    width: 400px;
    height: 220px;
    top: 350px;
    left: 180px;
    
    background: #484848;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .container h1{
    color: white;
    margin-left: 30px;
    font-weight: lighter;
  }
  
  .container button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 22px;
    border-radius: 5px;
  }
  
  .transparent{
    background-color: transparent;
    color: white;
  }

  .network {
    right: 100px;
    top: 250px;
    position: absolute;
    width: 700px;
  }

  .avatar{
    width: 25%;
    min-width: 50px;
  }
  
  .man1{
    animation: animateMan1 2s forwards;
  }

  .man2{
    animation: animateMan2 6s 1s forwards;
  }

  .lady1 {
    animation: animateLady1 2s 2s forwards;
  }

  .lady2 {
    animation: animateLady2 4s 3s forwards;
  }

  .lady3{
    animation: animateLady3 2s 4s forwards;
  }

  @keyframes animateLady3 {
    0%{
      transform: translate(0, 0);
    }
    50%{
      transform: translate(300%, 0);
    }
    100%{
      transform: translate(300%, -150%);
    }
  }

  @keyframes animateLady2 {
    0%{
      transform: translate(0, 0);
    }
    25%{
      transform: translate(10%, 0);
    }
    50%{
      transform: translate(10%, -200%);
    }
    100%{
      transform: translate(-250%, -250%);
    }
  }

  @keyframes animateMan2 {
    0%{
      transform: translate(0, 0);
    }
    20%{
      transform: translate(-50%, 0);
    }
    50%{
      transform: translate(-50%, -250%);
    }
    100%{
      transform: translate(200%, -250%);
    }
  }

  @keyframes animateLady1 {
    0%{
      transform: translate(0, 0);
    }
    50%{
      transform: translate(-50%, 0);
    }
    100%{
      transform: translate(-50%, -150%);
    }
  }

 

  @keyframes animateMan1 {
    0%{
      transform: translate(0, 0);
    }
    50%{
      transform: translate(-50%, 0);
    }
    100%{
      transform: translate(-50%, -90%);
    }
  }